<h1>Editing role_type</h1>

<%= render 'form' %>

<%= link_to '', role_types_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', @role_type, class: "btn show-btn glyphicon glyphicon-eye-open", title: "Show" %> &nbsp; Show &nbsp;  

