<p id="notice"><%= notice %></p>

<p>
  <strong>Ext:</strong>
  <%= @extension.ext %>
</p>


<%= link_to '', extensions_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', edit_extension_path(@extension), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %> &nbsp; Edit &nbsp; 



