<h1>Editing phone_number</h1>

<%= render 'form' %>

<%= link_to '', phone_numbers_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', @phone_number, class: "btn show-btn glyphicon glyphicon-eye-open", title: "Show" %> &nbsp; Show &nbsp;  

