<h1>Statics#help</h1>
<p>Find me in app/views/statics/help.html.erb</p>

 <div class="col-md-7">
     <form>
       <select id="element" name="myselect" multiple>
      <option>element 1</option>
      <option>element 2</option>
      <option>element 3</option>
      <option>element 4</option>
    </select>
    <script> gen_duallistbox('#element'); </script>
  </form>
</div>


