<h1>Editing address</h1>

<%= render 'form' %>

<%= link_to '', addresses_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', @address, class: "btn show-btn glyphicon glyphicon-eye-open", title: "Show" %> &nbsp; Show &nbsp;  
