<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @room.room %>
</p>


<%= link_to '', rooms_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', edit_room_path(@room), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %> &nbsp; Edit &nbsp; 

