<h1>Editing student_class</h1>

<%= render 'form' %>


<%= link_to '', student_classes_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', @student_class, class: "btn show-btn glyphicon glyphicon-eye-open", title: "Show" %> &nbsp; Show &nbsp;  

<div class="jumbotron mid-top-margin">
    <p>
    <b>Note:</b> Each student can only be in one class at a time. Adding a student here from another class will remove the student from their current class. 
    </p>
</div>

