<p id="notice"><%= notice %></p>

<p>
  <strong>Grade level teacher:</strong>
  <%= @student_class.grade_level_teacher %>
</p>

<%= link_to 'Edit', edit_student_class_path(@student_class) %> |
<%= link_to 'Back', student_classes_path %>
