<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @gender.gender %>
</p>


<%= link_to '', genders_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', edit_gender_path(@gender), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %> &nbsp; Edit &nbsp; 


